.footer {
  position: relative;

  display: flex;
  padding-top: 5vw;
  padding-bottom: 5vw;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: var(--black-8305226e);

  color: var(--white-dfe063b9);
}

@media screen and (max-width: 991px) {
  .footer {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

.container {
  position: relative;
  z-index: 3;

  display: flex;
  width: 80vw;
  flex-direction: column;
  align-items: flex-start;
}

@media screen and (max-width: 991px) {
  .container {
    width: 90vw;
  }
}

.container.hspread {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.footer-logo-wrap {
  position: absolute;
  left: auto;
  top: 0%;
  right: 0%;
  bottom: auto;
}

@media screen and (max-width: 991px) {
  .footer-logo-wrap {
    position: static;
  }
}

.footer-logo {
  width: 10vw;
}

@media screen and (max-width: 991px) {
  .footer-logo {
    width: 150px;
    margin-bottom: 35px;
  }
}

.footer-items {
  display: grid;
  width: 50%;
  align-items: flex-start;
  grid-auto-columns: 1fr;
  grid-column-gap: 2vw;
  grid-row-gap: 16px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
}

@media screen and (max-width: 991px) {
  .footer-items {
    width: 100%;
  }
}

.items-wrapper {
  display: flex;
  width: 100%;
  padding-right: 2vw;
  flex-direction: column;
  align-items: flex-start;
}

@media screen and (max-width: 991px) {
  .items-wrapper {
    padding-right: 25px;
  }
}

.h5 {
  margin-top: 0px;
  margin-bottom: 1vw;

  font-family: Lato, sans-serif;
  font-size: 1vw;
  line-height: 120%;
  font-weight: 700;
}

@media screen and (max-width: 991px) {
  .h5 {
    margin-bottom: 10px;
    font-size: 18px;
  }
}

.h5.mbot-0 {
  margin-bottom: 0vw;
  border-radius: 0px;
}

.paragraph {
  margin-top: 0px;
  margin-bottom: 0px;

  font-family: 'DM Sans';
  font-size: 1vw;
  line-height: 160%;
  font-weight: 400;
}

@media screen and (max-width: 991px) {
  .paragraph {
    font-size: 14px;
  }
}

@media screen and (max-width: 479px) {
  .paragraph {
    font-family: 'DM Sans';
  }
}

.paragraph.gray {
  opacity: 0.5;
  color: white;
}

.paragraph.gray.link {
  transition: all 300ms ease;
  text-decoration: none;
}

.paragraph.gray.link:hover {
  padding-left: 2px;
  opacity: 1;
}

.paragraph.white {
  padding-right: 0px;
  padding-left: 0px;
  color: white;
  text-align: left;
}

.bold {
  font-weight: 700;
}

.paragraph a {
  color: var(--lightSkyBlue-8ff19a6b);
}

@media screen and (max-width: 479px) {
  .paragraph.bold {
    font-family: 'DM Sans';
  }
}

.paragraph.mtop-1 {
  margin-top: 1vw;
  color: var(--light-sky-blue);
}

@media screen and (max-width: 991px) {
  .paragraph.mtop-1 {
    margin-top: 15px;
  }
}

@media screen and (max-width: 479px) {
  .paragraph.mtop-1 {
    font-family: 'DM Sans';
  }
}

.paragraph.half-opacity {
  color: hsla(0, 0.00%, 0.00%, 0.50);
  font-weight: 500;
}

.paragraph.indicator {
  margin-top: 0.5vw;
  opacity: 0.5;
}

.footer-meta {
  display: flex;
  width: 100%;
  margin-top: 5vw;
}

@media screen and (max-width: 991px) {
  .footer-meta {
    margin-top: 25px;
    flex-direction: column;
    align-items: flex-start;
  }
}

.partner-link {
  margin-top: 0.5vw;
}

@media screen and (max-width: 991px) {
  .partner-link {
    margin-top: 10px;
  }
}

.partner-logo {
  width: 11vw;
}

@media screen and (max-width: 991px) {
  .partner-logo {
    width: 140px;
  }
}

.socials-wrap {
  display: flex;
  margin-top: 1.5vw;
  align-items: center;
}

.social-link {
  margin-right: 0.5vw;
  opacity: 0.5;
  transition: all 300ms ease;
}

.social-link:hover {
  opacity: 1;
}

@media screen and (max-width: 991px) {
  .social-link {
    margin-right: 5px;
  }
}

.social-icon {
  width: 1.7vw;
}

@media screen and (max-width: 991px) {
  .social-icon {
    width: 30px;
  }
}

.meta-wrapper {
  display: flex;
  width: 50%;
  justify-content: space-between;
  align-items: center;
  grid-auto-columns: 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
}

@media screen and (max-width: 991px) {
  .meta-wrapper {
    width: 100%;
    margin-top: 50px;
  }
}

@media screen and (max-width: 479px) {
  .meta-wrapper {
    margin-top: 25px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
}

#w-node-d24172c1-7b40-7359-8c67-df3d5baa1e4f-5baa1e4a {
  grid-column-start: span 1;
  grid-column-end: span 1;
  grid-row-start: span 1;
  grid-row-end: span 1;
}
#w-node-d24172c1-7b40-7359-8c67-df3d5baa1e50-5baa1e4a {
  grid-column-start: span 1;
  grid-column-end: span 1;
  grid-row-start: span 1;
  grid-row-end: span 1;
}
#w-node-d24172c1-7b40-7359-8c67-df3d5baa1e5c-5baa1e4a {
  grid-column-start: span 1;
  grid-column-end: span 1;
  grid-row-start: span 1;
  grid-row-end: span 1;
}
#w-node-d24172c1-7b40-7359-8c67-df3d5baa1e5d-5baa1e4a {
  grid-column-start: span 1;
  grid-column-end: span 1;
  grid-row-start: span 1;
  grid-row-end: span 1;
}
#w-node-d24172c1-7b40-7359-8c67-df3d5baa1e67-5baa1e4a {
  grid-column-start: span 1;
  grid-column-end: span 1;
  grid-row-start: span 1;
  grid-row-end: span 1;
}
#w-node-d24172c1-7b40-7359-8c67-df3d5baa1e6c-5baa1e4a {
  grid-column-start: span 1;
  grid-column-end: span 1;
  grid-row-start: span 1;
  grid-row-end: span 1;
}